$amarelo: rgb(252, 255, 100);
$background: #FFFFFF;
$azul: #315285;
$vermelhofiec: #D90000;
$blur-bg-color: rgba(0, 0, 0, 0.5);
$btn-azul-color: #080b68;
$swal-confirm-button-color: #2DD730;
$swal-cancel-button-color: #D90000;
$button-text-color: #293241;