<div>
  <img class="img-fundo" src="assets/bg.png" alt="fiec" />
  <h1>Controle de usuários com Angular e Java!</h1>

  <app-default-login-layout
    [title]="!showRegister ? 'Login' : 'Registrar-se'"
    [primiryButtonText]="!showRegister ? 'Entrar' : 'Registrar'"
    [secondaryButtonText]="!showRegister ? 'Registrar-se' : 'Voltar ao login'"
    (submit)="submit()"
    (toggleLogin)="toggleLogin()"
  >
    <!-- form login -->
    <form [formGroup]="loginForm" *ngIf="!showRegister">
      <app-default-input
        formControlName="email"
        inputName="email"
        label="E-mail ou Matrícula"
        type="email"
        placeholder="Digite seu e-mail"
      ></app-default-input>

      <app-default-input
        formControlName="password"
        inputName="password"
        label="Senha"
        type="password"
        placeholder="Digite sua senha"
      ></app-default-input>
    </form>

    <!-- form register -->
    <form [formGroup]="loginForm" *ngIf="showRegister" style="display: grid; grid-template-columns: repeat(2,1fr); gap: 20px;">
      <app-default-input
        formControlName="name"
        inputName="name"
        label="Nome completo"
        placeholder="Digite seu nome"
      ></app-default-input>

      <app-default-input
        formControlName="email"
        inputName="email"
        label="E-mail ou Matrícula"
        type="email"
        placeholder="Digite seu e-mail"
      ></app-default-input>

      <app-default-input
        formControlName="password"
        inputName="password"
        label="Senha:"
        type="password"
        placeholder="Digite sua senha"
      ></app-default-input>

      <app-default-input
        formControlName="confirmPassword"
        inputName="confirmPassword"
        label="Confirmar Senha:"
        type="password"
        placeholder="Confirme sua senha"
      ></app-default-input>
    </form>
  </app-default-login-layout>
</div>
